#default compiler output
a.out
#dev outputs
/dumbos
/dumbosd
/server/dumbos_server
#cmake output
/server/cmake_install.cmake
/server/CMakeFiles/
/server/Makefile
/server/CMakeCache.txt
/server/dumb-code
/server/dumb-codes/
/server/public/
/server/cmake_install.cmake

#keys
/keys/

# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# debug information files
*.dwo
