service dumbosd /system/bin/dumbosd
    class late_start
    user root
    group root

service dumbos-firewall /system/bin/dumbos-firewall-init.sh
    class late_start
    user root
    group root
    oneshot

service setpin /system/bin/setpin.sh
    class late_start
    user root
    group root
    oneshot
    disabled

on property:sys.boot_completed=1
  mkdir /data/local/tmp/dumb 0700 root root
  chmod 0600 /mnt/vendor/persist/dumbos_user
  copy /mnt/vendor/persist/dumbos_user /dev/dumbos-userdata
  start setpin
